body {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  padding: 0;
  margin: 0;
  /*background-image: url("page.png");
    height: 10552px;*/
  width: 100%;
}

h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

h2 {
  font-weight: bold;
  color: #050c33;
  font-size: 24px;
}

h3 {
  font-weight: bold;
  color: #050c33;
  font-size: 18px;
}

/*
  nav
*/

.navbar-absolute {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  background-color: #000;
  z-index: 1000;
}

@media screen and (min-width: 768px) {
  .navbar-absolute {
    position: absolute;
    bottom: auto;
    left: 0;
    right: 0;
    top: 30px;
    background-color: unset;
  }
}

.nav-logo {
  width: 160px;
  margin-right: 60px;
  margin-left: 15px;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
  padding-top: 2px;
  padding-bottom: 6px;
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap: wrap;
}

.navbar-nav {
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .nav-logo {
    width: 175px;
    margin-left: auto;
  }
  .navbar {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }
}

.navbar li.nav-item > a.nav-link {
  padding: 8px 20px;
  border-bottom: 1px solid #312a2a;
  line-height: 22px;
  font-size: 12px;
  font-style: normal;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .navbar li.nav-item > a.nav-link {
    padding: 0;
    border-bottom: unset;
    line-height: unset;
  }
}

.navbar li {
  border: none;
  transition: border-color 400ms;
  margin-right: 27px;
}

.navbar li:hover {
  border: none;
}

@media screen and (min-width: 768px) {
  .navbar li {
    border-top: 8px solid transparent;
    border-bottom: 3px solid transparent;
  }
  .navbar li:hover {
    border-top: 8px solid transparent;
    border-bottom: 3px solid #f14d34;
  }
}

.collapse {
  border-bottom: solid 1px #fff;
  overflow-y: auto;
  max-height: calc(100vh - 49px);
}

@media screen and (min-width: 768px) {
  .collapse {
    order: 1;
    border-bottom: unset;
    max-height: unset;
    overflow-y: unset;
  }
}

nav .dropdown-menu {
  background-color: inherit;
  
}

nav .dropdown-menu {
  display: block;
  position: static;
  background-color: inherit;
  padding: 0;
  font-size: 12px;
  border-radius: 0;
  border: none;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  nav .dropdown-menu {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
    position: unset;
    background-color: #f14d34;
    padding: unset;
  }
}

@media screen and (min-width: 768px) {
  nav .dropdown-menu-second {
    min-width: 120px;
  }
}

@media screen and (min-width: 992px) {
  nav .dropdown-menu-second {
    min-width: 10rem;
  }
}

nav .dropdown-item {
  color: #fff;
  transition: all 400ms;
  padding: 8px 20px 8px 35px;
  font-weight: 500;
  border-bottom: 1px solid #312a2a;
  line-height: 22px;
}

@media screen and (min-width: 768px) {
  nav .dropdown-item {
    padding: 3px 20px;
    border-bottom: unset;
    line-height: unset;
  }
}

@media screen and (min-width: 768px) {
  .dropdown-menu-second .dropdown-item {
    width: 135px;
    padding-right: initial;
  }
}

@media screen and (min-width: 992px) {
  .dropdown-menu-second .dropdown-item {
    padding-right: 20px;
    width: 100%;
  }
}

nav .dropdown-item:hover, nav .dropdown-item:focus {
  color: #f14d34;
  background-color: inherit;
}

@media screen and (min-width: 768px) {
  nav .dropdown-item:hover, nav .dropdown-item:focus {
    color: #fff;
    background-color: #d13018;
  }
  nav .nav-item.dropdown:hover .dropdown-menu {
    max-height: 150px;
  }
}

.navbar-toggler-icon {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(136,136,136,1.00)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") no-repeat;
}

.navbar-toggler {
  margin-top: 1px;
}

.navbar li.nav-item > a.nav-link:hover, 
.navbar li.nav-item > a.nav-link:focus {
  color: #f14d34;
  background-color: inherit;
}

@media screen and (min-width: 768px) {
  .navbar li.nav-item > a.nav-link:hover, 
  .navbar li.nav-item > a.nav-link:focus {
    color: #fff;
  }
}


.navbar-brand {
  margin-right: 0px;
}

/*
  header content
*/

.title-text {
  line-height: 1.6;
  font-size: 14px;
  text-align: center;
  margin-bottom: 55px;
  opacity: 0.7;
}

header {
  width: 100%;
  position: relative;
  color: #fff;
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  header {
    padding-top: 170px;
  }
}

@media screen and (min-width: 992px) {
  header {
    padding-top: 150px;
  }
}

@media screen and (min-width: 1200px) {
  header {
    padding-top: 130px;
  }
}

header .container:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(./img/druplicon.svg) no-repeat center top;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  header .container:before {
    background-size: inherit;
    background-position: left top;
  }
}


.rspct:first-of-type .number {
  font-size: 48px;
  margin-top: -22px;
}

.tariff-button {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  text-decoration: none;
  padding: 22px 20px;
  width: 220px;
  max-width: 100%;
  text-align: center;
  border: 2px solid #f14d34;
  border-radius: 5px;
  letter-spacing: 0.06em;
  transition: background 300ms;
  margin: 0 auto;
  margin-bottom: 55px;
}

.tariff-button:hover {
  color: #fff;
  text-decoration: none;
  background: #f14d34;
}

.followingtext {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: rgba(255,255,255,.7);
  }
  .props {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }
#video-block {
  z-index: -10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#video-block video {
  min-height: 100%;
  min-width: 100%;
  filter: blur(2px);
}

#video-filter {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
#filter {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  }
@media screen and (min-width: 768px) {
  .rspct {
    margin-bottom: 96px;
  }
  h1 {
    font-weight: bold;
    font-size: 52px;
    line-height: 60px;
    text-align: left;
  }
  h2 {
    font-size: 42px;
  }
  .title-text {
    font-size: 18px;
    text-align: left;
  }
  .tariff-button {
    margin-left: 0;
    margin-bottom: 155px;
  }
}

.competencies {
  margin: 50px 0px;
}

.competencies h2 {
  margin: 0 0 20px;
}

.competencies-main-text {
  margin-bottom: 55px;
  font-weight: 500;
  font-size: 16px;
  color: #4f5a73;
}

.text {
  font-weight: 500;
  font-size: 16px;
  color: #4f5a73;
}

.competency-block .text {
  font-size: 14px;
  width: 200px;
  max-width: 100%;
  margin: auto;
}

@media (min-width: 768px) {
  .competency-block .text {
    font-size: 16px;
    width: auto;
    max-width: none;
    margin: 0;
  }
}

.competency-block {
  margin-bottom: 30px;
}

.competency-icon {
    padding: 0;
    display: inline-block;
    margin-bottom: 15px;
    position: relative;
    margin-left: 54px;
  }

@media (min-width: 768px) {
  .competency-icon {
    margin-bottom: 30px;
  }
}

@media (min-width: 1081px) {
  .competency-icon {
    margin-left: 0px;
  }
}

.competency-icon:before {
  content: "";
  display: block;
  position: absolute;
  left: -54px;
  /*left: -2px;*/
  bottom: -4px;
  width: 115px;
  height: 70px;
  background: url(./img/iconspec.svg) no-repeat center;
  background-size: contain;
}


.rspct {
  margin-bottom: 30px;
  }

  .rectangle{
    border-left: 3px solid #f14d34;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    min-height: 80px;
    height: 100%;}
    .number{
      font-size: 24px;
      color: #fff;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 5px;
      position: relative;
    }
    .number img{
    top:-35px;
    position: absolute;
    }
    .number{
      font-size: 24px;
      color: #fff;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 5px;
      position: relative;
    }
    .number img{
    top:-35px;
    position: absolute;
    }
    .followingtext {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    color: rgba(255,255,255,.7);
    }
    /* 13 years */ 
    .year13 {
    padding: 100px 0;
    font-family: Montserrat;
    }
    .point-two{
    padding-bottom: 0;
    }
    .year13 h2 {
    font-weight: bold;
    font-size: 24px;
    color: #050c33;
    margin: 0 0 20px;
    }
    
    .year13-description {
    margin-bottom: 55px;
    font-weight: 500;
    font-size: 16px;
    color: #4f5a73;
    }
    
    .competency-block{
    margin-bottom: 60px;
    }
    .competency-img{
    position:relative;
    margin-bottom:30px;
    margin-left: 50px;
    }
    .competency-img:before{
    content:"";
    display:block;
    position: absolute;
    width:115px;
    height:70px;
    background: url(beforeicon.svg) no-repeat center;
    background-size: contain;
    left:-54px;
    bottom:-2px;
    }
    .competency-disc{
    font-weight: 500;
    font-size: 14px;
    color: #4f5a73;
    }
    
    /*Drupal support */
    .drupsup{
    font-family: Montserrat;
    margin-bottom: -212px;
    padding-top: 100px;
    }
    .drupsup h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #050c33;
    font-weight: bold;
    font-size: 24px;
    }
    .drup-general{
    margin-bottom: -212px;
    padding: 0 12px;
    position:relative;
    z-index:20;
    }
    .gen{
    margin-bottom: 5px;
    }
    .drup-block{
    background: #fff;
    border-radius: 5px;
    box-shadow: 20px 20px 40px rgba(5,12,51,.05);
    margin-left: -12px;
    margin-right: -12px;
    height: 100%;
    position: relative;
    padding: 25px 25px 45px;
    min-height: 220px;
    }
    .drup-block-text{
    position: relative;
    z-index: 10;
    font-weight: 500;
    font-size: 16px;
    color: #4e5a73;
    line-height: 1.37;
    }
    .drup-block-img{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
    }
    .drup-block-number{
    font-weight: bold;
    font-size: 12px;
    color: #828a9b;
    margin-bottom: 20px;
    }
    .drup-block-title{
    font-weight: bold;
    font-size: 18px;
    color: #050c33;
    line-height: 1.22;
    margin-bottom: 15px;
    }
    /*Expertise */
    .expertise{
    padding: 380px 0 150px;
    position: relative;
    background: linear-gradient(254.72deg,rgba(255,255,255,.276) -114.85%,rgba(255,255,255,0) 69.04%),#040613;
    font-family: Montserrat;
    color: #fff;
    }
    .expertise h2{
    color: #fff;
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 65px;
    }
    .expertise_indent{
    margin-bottom: 30px;
    }
    .expertise_title{
    margin-left: 0;
    }
    .expertise_rectangle{
    border-left: 3px solid #f14d34;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    min-height: 88px;
    height: 100%;
    font-weight: 500;
    font-size: 16px;
    color: rgba(256,256,256,.7);
    width: 260px;
    max-width: 100%;
    }
    .expertise a{
    color: #f14d34;
    }
    .expertise_img{
    padding: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 85%;
    z-index: 10;
    max-width: 735px;
    }
    .expertise_img img{
    width: 100%;
    height: auto;
    transform: translateY(16%);
    }
    .expertise_response{
    display: block;
    max-width: 100%;
    height: auto;
    }
    /* Rates */
    .rates_{
    padding: 105px 0 90px;
    font-family: Montserrat;
    background: url(D-background-opacity.svg) no-repeat right top,#fff;
    background-size: cover;
    }
    .rates_ h2{
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 24px;
    }
    .rates_rectangle{
    height: auto;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    padding: 30px 15px;
    background: #fff;
    position: relative;
    transition: all 500ms;
    transform-origin: center;
    margin-bottom: 30px;
    max-width: 500px;
    }
    .rate_head_gen{
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    
    }
    .rate_head{
    border-bottom: 2px solid #e5e5e5;
    margin-bottom: 50px;
    }
    .rate_title{
    font-size: 22px;
    font-weight: bold;
    color: #f14d32;
    line-height: 1.3;
    }
    .rate_string{
    margin-bottom: 18px;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 100;
    position: relative;
    padding-left: 30px;
    color: #4e5972;
    font-weight: 500;
    }
    .rate_string:before{
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 10px;
    background: url(checkmark.svg) no-repeat center;
    background-size: contain;
    }
    .col-flex:nth-of-type(2n) .rates_rectangle {
      transform: scale(1.1);
      z-index: 10;
      box-shadow: 0 4px 60px rgba(162,162,162,.25);
    }
    .rates_rectangle:hover{
      transform: scale(1.1);
      z-index: 10;
      box-shadow: 0 4px 60px rgba(162,162,162,.25);
    }
    .rates .rates-row:hover .col-flex:nth-of-type(2n) .rates_rectangle {
      transform: initial;
      box-shadow: none;
      }
    .rates_rectangle{
      height: auto;
      border-radius: 5px;
      border: 1px solid #e6e6e6;
      background: #fff;
      position: relative;
      margin-right: auto;
      transition: all 500ms;
      transform-origin: center;
      margin-bottom: 30px;
      max-width: 500px;
    
    }
    .rates_rectangle:hover, .rates .rates-row:hover .col-flex:nth-of-type(2n) .rates_rectangle:hover {
      transform: scale(1.1);
      z-index: 15;
      box-shadow: 0 4px 60px rgba(162,162,162,.25);
    }
    .rate_button {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #f14d34;
    text-decoration: none;
    padding: 20px 10px;
    width: 100%;
    text-align: center;
    border: 1px solid #f14d34;
    border-radius: 5px;
    letter-spacing: 0.06em;
    transition: background 300ms;
    margin: 0 0;
    background-color: rgba(0, 0, 0, 0);
    }
    .rate_button:hover {
    color: #fff;
    text-decoration: none;
    background: #f14d34;
    }
    .PostScriptum{
    text-align: center;
    line-height: 1.3;
    font-weight: 500;
    color: #828a9b;
    width: 475px;
    max-width: 100%;
    margin: 0 auto;}
    
    .PostScriptum_link{
    display: block;
    margin-top: 26px;
    font-size: 12px;
    text-transform: uppercase;
    color: #050c33;
    text-decoration: underline;
    transition: all 300ms;
    }
    
    /* Quick solving */
    .qckslve-icon:before {
    content: "";
    display: block;
    position: absolute;
    width: 115px;
    height: 70px;
    background: url(beforeicon.svg) no-repeat center;
    background-size: contain;
    left: -54px;
    bottom: -2px;
    }
    .quick_solving h2 {
    font-weight: bold;
    font-size: 24px;
    color: #050c33;
    margin: 0 0 20px;
    }
    .qckslve-gen{
    margin:auto;
    }
    .comp-text-part-two{
    font-weight: 500;
    font-size: 14px;
    color: #4f5a73;
    }
    .qckslve-icon {
    position: relative;
    margin-bottom: 30px;
    margin-left: 50px;
    }
    .qckslve-number {
    font-size: 32px;
    margin-top: -20px;
    color: #050c33;
    font-weight: bold;
    text-align: center;
    }
    .qckslve-head{
    margin-left: 90px;
    }
    .qckslve-text{
    margin-left: 90px;
    }
    /* team */
    .team h2{
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
    color: #050c33;
    margin-bottom: 20px;
    margin-top: 30px;
    }
    .team-rectangle{
    padding: 0 20px;
    }
    .team-gen{
    text-align: left;
    margin-bottom: 20px;
    }
    .team-png{
    border-radius: 0;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 25px;
    }
    .team-name{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    color: #050c33;
    line-height: 1.35;
    }
    .team-text{
    padding: 0;
    color: #505570;
    font-weight: 500;
    line-height: 1.37;
    margin-bottom: 5px;
    font-size: 12px;
    }
    .the_rest{
    text-align: center;
    margin-top: 45px;
    }
    .the_rest a{
    padding: 15px 45px;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    color: #050c33;
    border: 1px solid #cccdd5;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
    }
    /* articles */
    .articles_main {
      display: flex;
      flex-wrap: wrap;
    }
    
    .article_block {
      min-height: 240px;
      display: flex;
      flex-direction: column;
      padding: 10px;
      width: 100%;
      font-size: 14px;
      color: #4e5a73;
      position: relative;
      cursor: pointer;
      margin: 0;
    }
    .article_block:hover {
      text-decoration: none;
      color: #4e5a73;
    }
    
    .article_block h3:hover {
      text-decoration: underline;
    }
    
    .article_date {
      opacity: 0.5;
      line-height: 1.5;
    }
    .article_block h3 {
      margin-top: 20px;
    }
    
    .article_discr {
      margin-top: 20px;
    }
    
    .article_png{
      min-height: 175px;
      width: 100%;
      height: 40%;
      background-size: cover;
      background-position: center;
      border-radius: 5px;
    }
    .articles h2,
    .review h2,
    .faq h2{
      text-align: center;
    }
    
    .article_block h3,
    .article_date,
    .article_discr {
      margin-left: 40px;
      margin-right: 40px;
      z-index: 5;
    }
    
    .module_href {
      color: #337ab7;
    }
    
    .module_href:hover {
      color: #23527c;
      text-decoration: underline;
    }
    
    @media (min-width: 768px) {
      .article_block h3 {
        font-size: 14px;
        margin-top: 40px;
      }
      .article_block {
        font-size: 12px;
      }
      .article_block h3,
      .article_date,
      .article_discr {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
    
    .large {
      position: relative;
      color: #fff;
      padding: 40px;
    }
    
    .large::before {
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      bottom: 10px;
      left: 10px;
      background: linear-gradient(360deg, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, 0) 50%);
      z-index: 5;
      border-radius: 5px;
    }
    
    .large h3 {
      color: #fff;
      margin-top: 170px;
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
    }
    
    .large .article_date {
      margin-left: 0;
      margin-right: 0;
    }
    
    .large:hover {
      color: #fff;
    }
    
    .large .article_png{
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 10px;
      right: 10px;
      height: auto;
      width: auto
    }
    /* articles_media */
    @media (min-width: 768px) {
    .large h3 {
        width: 320px;
        margin-top: auto;
      }
    }
    @media (min-width: 768px) {
      .article_block {
        min-height: 460px;
        width: 33.3%;
      }
    }
    @media (min-width: 768px) {
      .article_block:nth-child(2) {
        min-height: 460px;
        width: 66.6%;
      }
    }
    @media (min-width: 1200px) {
      .article_png{
        height: 50%;
      }
    }
    /* reviews */
    .review_gen{
      background: url(quote.svg) no-repeat left top;
      background-size: 26%;
    }
    .review_slide {
      margin-top: 0;
      margin-bottom: 100px;
      font-family: Montserrat;
      font-style: normal;
      
      padding-top: 45px;
    }
    .review_slide  h2{
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 46px;
      margin-top: 0;
      text-align: center;
      color: #050c33;
    }
    .review_content{
      margin-top: 0;
      width: 980px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }
    .review_content::before{
      content: "";
      display: block;
      background: #fff;
      opacity: .5;
      border: 1px solid rgba(0,0,0,.1);
      box-sizing: border-box;
      box-shadow: 0 4px 60px rgba(162,162,162,.25);
      border-radius: 5px;
      position: absolute;
      top: -15px;
      bottom: 0;
      left: 15px;
      right: 15px;
      z-index: 5;
    }
    .review_rectangle{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      z-index: 10;
      background: #fff;
      border: 1px solid rgba(0, 0, 0, .1);
      box-sizing: border-box;
      box-shadow: 0 4px 60px rgba(162, 162, 162, .25);
      border-radius: 5px;
    }
    .review_content::after{
      content: "";
      display: block;
      background: #fff;
      opacity: .34;
      border: 1px solid rgba(0,0,0,.1);
      box-sizing: border-box;
      box-shadow: 0 4px 60px rgba(162,162,162,.25);
      border-radius: 5px;
      position: absolute;
      top: -30px;
      bottom: 0;
      left: 30px;
      right: 30px;
      z-index: 4;
    }
    .rev-slide{
      width: 100%;
      padding: 15px 20px;
      border-bottom: 1px solid #cdcdcd;
      
    }
    .review-txt{
      font-size: 14px;
      line-height: 1.2;
    }
    .review-txt img{
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .rev-text-field{
      width:285px;
      margin-bottom: 28px;
      font-weight: bold;
      color: #050c33;
      outline: 0;
    }
    .review-author{
      font-weight: 500;
      color: #838b9c;
    }
    .review-author a{
      font-weight: 400;
      color: #050c33;
      text-decoration: underline;
    }
    .arrow_navigation{
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
      padding: 20px 0;
    }
    #right-arrow, #left-arrow{
      width: 17px;
      height: 32px;
      border: none;
    }
    #left-arrow {
      background: url(left_arrow.svg) no-repeat;
    }
    #right-arrow {
      background: url(right_arrow.svg) no-repeat;
    }
    #left-arrow:focus,
    #right-arrow:focus {
    outline: none;
    }
    .review-counter{
      font-size: 28px;
      font-weight: 400;
      margin: 0 46px;
      color: #e0e0e0;
    }
    #rev-num{
      color: #050c33;
    }
    /* reviews media */
    @media screen and (min-width: 960px){
      .review_slide {
          margin-top: 90px;
          margin-bottom: 160px;
          padding-top: 90px;
      }
      .review_slide  h2{
          font-size: 42px;
      }
      .review_content{
          margin-top: 90px;
      }
      .review_rectangle{
          padding: 66px 0 66px 68px;
      }
      .rev-slide{
          width: 70%;
          padding: 14px 60px;
          
      }
      .review_content::before{
          top: -40px;
          left: 64px;
          right: 64px;
      }
      .review_content::after{
          top: -72px;
          left: 128px;
          right: 128px;
      }
      .review-txt img{
          margin-bottom: 40px;
      }
      .rev-slide{
          border-bottom: 0;
          border-right: 1px solid #cdcdcd;
      }
      .arrow_navigation{
          width: 30%;
      }
      .rev-text-field{
          width:auto;
      }}
      /* ally companies */
      .ally-companies h2{
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        color: #050c33;
        margin-bottom: 10px;
        margin-top: 0;
    }
    .ally-companies_text{
        width: 740px;
        max-width: 100%;
        padding: 0 15px;
        margin: auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.37;
        text-align: center;
        color: #505570;
        margin-bottom: 40px;
    }
    .slider_block{
        padding:5px;
        height:100%;
    }
    .slider_block img {
        margin: auto;
        max-width: 100%;
        height: auto;
        width: 100%;
    }
    .slider_block div {
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        padding: 10px;
    }
    .slider2 .slider_block {
        transform: translateX(50%);
    } 
     /* ally companies media */
    @media screen and (min-width: 960px){
      .work-partners h2{
        font-size: 42px;
        margin-bottom: 10px;
    }
      /* FAQ */
    .faq h2{
        text-align: center;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 24px;
        color: #050c33;
        margin-bottom: 20px;
        margin-top: 50px;
    }
    .faq_panel{
        color: #fff;
        cursor: pointer;
        padding: 16px;
        padding-bottom: 0;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 18px;
        transition: 0.5s;
        border: 3px solid transparent;
    }
    .faq_panel h3{
        padding-left: 10px;
        font-weight: bold;
        color: #050c33;
        font-size: 18px;
        position: relative;
        cursor: pointer;
    }
    .faq_panel_toggled h3{
        color: #f14e3b;
    }
    .faq_panel_toggled{
        border-color: #f14e3b;
    }
    .faq_number{
        position: absolute;
        left: -20px;
        width: 25px;
        text-align: right;
        font-weight: bold;
        font-size: 12px;
        color: #828a9b;
        margin-top: 4px;
    }
    .faq_answer {
        padding: 0 18px;
        color: #212121;
        background-color: #fff;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }
    .faq_answer p{
        font-weight: 500;
        font-size: 16px;
        color: #4e5a73;
        line-height: 1.37;
        margin-top: 10px;
    }
    /* Footer*/
    .footer {
      background: linear-gradient(254.72deg,rgba(255,255,255,.276) -114.85%,rgba(255,255,255,0) 69.04%),
      url(topD.svg) no-repeat top center,url(bottomD.svg) no-repeat bottom right,#040613;
      padding: 25px 0 54px;
      color: #fff;
      font-family: Montserrat;
      margin-top: 35px;
      background-size: cover,165px,140px;
    }
    .footer-block-title{
      font-weight: bold;
      font-size: 24px;
      line-height: 1.215;
      margin-bottom: 20px;
      text-align: center;
    }
    .footer-block-description{
      margin-bottom: 30px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.55;
      color: rgba(256,256,256,.7);
    }
    .footer-block-contacts ul{
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .footer-block-contacts ul li{
      margin-bottom: 12px;
    }
    .footer-contacts-phone a{
      position: relative;
      padding-left: 40px;
      display: inline-block;
      text-decoration: none;
      font-weight: bold;
      font-size: 24px;
      color: #fff;
      line-height: 1.1;
    }
    .footer-contacts-phone a:before {
      position: absolute;
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      left: 3px;
      bottom: 4px;
      background: url(phone.svg) no-repeat center;
      background-size: contain;
      opacity: .8;
    }
    .footer-contacts-mail a{
      text-decoration: underline;
      position: relative;
      padding-left: 40px;
      display: inline-block;
      font-weight: bold;
      font-size: 14px;
      color: #fff;
      line-height: 1.1;
    }
    .footer-contacts-mail a:before {
      position: absolute;
      content: "";
      display: block;
      width: 24px;
      height: 18px;
      left: 0;
      bottom: 0;
      background: url(mail.svg) no-repeat center;
      background-size: contain;
      opacity: .8;
    }
    
    /* footer form */
    .footer {
      background: linear-gradient(254.72deg,rgba(255,255,255,.276) -114.85%,rgba(255,255,255,0) 69.04%),
      url(./img/D-flying.svg) no-repeat top center,url(./img/D-footer.svg) no-repeat bottom right,#040613;
      padding: 25px 0 54px;
      color: #fff;
      font-family: Montserrat;
      margin-top: 35px;
      background-size: cover,165px,140px;
  }
  .footer-block-title{
      font-weight: bold;
      font-size: 24px;
      line-height: 1.215;
      margin-bottom: 20px;
      text-align: center;
  }
  .footer-block-description{
      margin-bottom: 30px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.55;
      color: rgba(256,256,256,.7);
  }
  .footer-block-contacts ul{
      list-style: none;
      padding: 0;
      margin: 0;
  }
  .footer-block-contacts ul li{
      margin-bottom: 12px;
  }
  .footer-contacts-phone a{
      position: relative;
      padding-left: 40px;
      display: inline-block;
      text-decoration: none;
      font-weight: bold;
      font-size: 24px;
      color: #fff;
      line-height: 1.1;
  }
  .footer-contacts-phone a:before {
      position: absolute;
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      left: 3px;
      bottom: 4px;
      background: url(./img/phone.svg) no-repeat center;
      background-size: contain;
      opacity: .8;
  }
  .footer-contacts-mail a{
      text-decoration: underline;
      position: relative;
      padding-left: 40px;
      display: inline-block;
      font-weight: bold;
      font-size: 14px;
      color: #fff;
      line-height: 1.1;
  }
  .footer-contacts-mail a:before {
      position: absolute;
      content: "";
      display: block;
      width: 24px;
      height: 18px;
      left: 0;
      bottom: 0;
      background: url(./img/mail.svg) no-repeat center;
      background-size: contain;
      opacity: .8;
  }
  
  /* footer form */
  .form-block{
      width: 480px;
      max-width: 100%;
      margin-left: auto;
  }
  #form input{
      margin-bottom: 7px;
  }
  .footer-form-input::placeholder, .form-item textarea::placeholder {
      color: #fff;
      font-size: 14px;
    }
  .footer-form-label{
      display:none;
  }
  .footer-form-input{
      width: 480px;
      max-width: 100%;
      margin-bottom: 7px; 
      background: transparent;
      border: 1px solid rgba(256,256,256,.3);
      border-radius: 5px;
      line-height: 1.2;
      font-weight: 500;
      font-size: 14px;
      padding: 18px 24px;
      color: #fff;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  #form textarea {
      height: 134px;
    }
  .footer-contact-button{
      display: block;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      text-decoration: none;
      padding: 20px 10px;
      width: 100%;
      text-align: center;
      border: 1px solid #f14d34;
      border-radius: 5px;
      letter-spacing: 0.06em;
      color: #fff;
      background: #f14d34;
      margin: 0 0;
      margin-top: 7px;
  }
  
  .footer-social-links{
      position: static;
      padding: 0;
      margin-top: 71px;
  }
  .footer-social-links::before{
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      background: rgba(256,256,256,.3);
  }
  .footer-links{
      padding-top: 56px;
  }
  .social-links{
      margin-bottom: 15px;
  }
  .f-b-s-links{
      margin: 0;
      padding: 0;
      list-style: none;
  }
  .links-item{
      position: relative;
      display: inline-block;
      margin-right: 10px;
      border: 2px solid #f14d34;
      border-radius: 5px;
      color: #fff;
      width: 30px;
      height: 30px;
      background: #f14d34;
      text-align: center;
  }
  .facebook img{
      position: absolute;
      max-height: 17px;
      margin: 4px -4px;
  }
  .vk img{
      position: absolute;
      margin: 7px -11px;
      max-height: 12px;
  }
  .tg img{
      position: absolute;
      margin: 1px -13px;
      max-height: 25px;
  }
  .yt img{
      position: absolute;
      margin: 2px -11px;
      max-height: 22px;
  }
  .footer-links p{
      margin-bottom: 0;
  }
  @media screen and (min-width: 1080px) {
      .footer{
          background-size: auto;
      }
      .footer-block-title{
          font-size:42px;
          text-align: left;
      }
      .footer-block-description{
          margin-bottom: 140px;
      }
      .footer-contacts-phone a{
          font-size: 32px;
      }
      .footer-contacts-mail a{
          font-size: 18px;
      }
  }